# Kafka
KAFKA_BOOTSTRAP=localhost:9092
KAFKA_TOPIC_DETECTIONS=raw_detections

# MinIO (Bronze)
MINIO_ENDPOINT=localhost:9001
MINIO_BUCKET=bronze-frames
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# PostgreSQL (Silver)
PG_HOST=localhost
PG_PORT=5432
PG_DB=silver
PG_USER=postgres
PG_PASSWORD=postgres

# ClickHouse (Gold)
CH_HOST=localhost
CH_PORT=9000
CH_USER=default
CH_PASSWORD=user
CH_DATABASE=transport

# YOLO
YOLO_MODEL=models/yolov8n.pt
ACTIVE_CAMERAS=CAM-001

# Логи DQ
LOG_DIR=logs
