# Переменные для module_B (скопируйте в корневой .env или export)
KAFKA_BOOTSTRAP=localhost:9092
KAFKA_TOPIC_DETECTIONS=raw_detections
MINIO_ENDPOINT=localhost:9001
MINIO_BUCKET=bronze-frames
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
YOLO_MODEL=../models/yolov8n.pt
ACTIVE_CAMERAS=CAM-001
